<div class="col-lg-4">
    <div onclick="location.href='#!users';" class="clickable well well-sm">
        <p class="text-center">
            <img src="/images/users.svg" width="80" height="80" />
        </p>
        <h4 class="text-center">Users</h4>
    </div>
</div>
<div class="col-lg-4">
    <div class="clickable well well-sm">
        <p class="text-center">
            <img src="/images/teams.svg" width="80" height="80" />
        </p>
        <h4 class="text-center">Teams</h4>
    </div>
</div>
<div class="col-lg-4">
    <div class="clickable well well-sm">
        <p class="text-center">
            <img src="/images/tournament.svg" width="80" height="80" />
        </p>
        <h4 class="text-center">Tournaments</h4>
    </div>
</div>
<div class="col-lg-4">
    <div class="clickable well well-sm">
        <p class="text-center">
            <img src="/images/match.svg" width="80" height="80" />
        </p>
        <h4 class="text-center">Matches</h4>
    </div>
</div>
<div class="col-lg-4">
    <div class="clickable well well-sm">
        <p class="text-center">
            <img src="/images/result.svg" width="80" height="80" />
        </p>
        <h4 class="text-center">Results</h4>
    </div>
</div>
<div class="col-lg-4">
    <div class="clickable well well-sm">
        <p class="text-center">
            <img src="/images/statistics.svg" width="80" height="80" />
        </p>
        <h4 class="text-center">Players</h4>
    </div>
</div>
<div class="col-lg-4 col-md-offset-4">
    <div class="clickable well well-sm">
        <p class="text-center">
            <img src="/images/news.svg" width="80" height="80" />
        </p>
        <h4 class="text-center">News</h4>
    </div>
</div>